<?php if($block->isEnabled()):?>
<button data-mage-init='{"myjs": {}}' type="button" class="btn btn-primary btn-lg" id="popupButton" data-toggle="modal"
        data-target="#myModal"><?php echo __('Request Price') ?></button>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-header">
            <h4 class="modal-title"><?php echo __('Request Price') ?></h4>
        </div>
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div id="myModalMessages" class="message"><div></div></div>
                <form data-mage-init='{"validation": {}}' class="form" id="prequest_form" method="post"
                      autocomplete="off">
                    <fieldset class="fieldset">
                        <input type="hidden" name="sku" value="<?php echo $block->getProductSku() ?>" />
                        <div class="field required">
                            <label for="prequest_name" class="label"><span><?php echo __('Name') ?></span></label>
                            <div class="control">
                                <input type="text" name="name" id="prequest_name" value=""
                                       title="<?php echo __('Name') ?>" class="input-text"
                                       data-validate="{required:true}">
                            </div>
                        </div>
                        <div class="field required">
                            <label for="prequest_email" class="label"><span><?php echo __('Email') ?></span></label>
                            <div class="control">
                                <input type="email" name="email" id="prequest_email" value=""
                                       title="<?php echo __('Email') ?>" class="input-text"
                                       data-validate="{required:true, 'validate-email':true}">
                            </div>
                        </div>
                        <div class="field">
                            <label for="prequest_comment" class="label"><span><?php echo __('Comment') ?></span></label>
                            <div class="control">
                                <textarea name="comment" class="form-control" rows="5"
                                          id="prequest_comment"></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <button type="submit" class="action primary"><?php echo __('Submit') ?></button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    require(['jquery'],
        function($){
        $(document).ready(function() {
            $("#prequest_form").submit(function(){
                if ($('#prequest_form').valid()) {
                    var url = "<?php echo $block->getRequestpriceUrl() ?>";
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: $('#prequest_form').serialize(),
                        showLoader: true,
                        cache: false,
                        success: function(response){
                            console.log(response);
                            $('#myModalMessages').removeClass("success error").addClass(response.type)
                                .html('<div>' + response.message + '<div>');
                            if(response.type == 'success'){
                                $('#prequest_form').hide();
                            }
                        }
                    });
                    return false;
                }
            });
        });
    });
</script>
<?php endif; ?>